<div class="container">
  <h1>Welcome to Sinatra!</h1>

    <ul class="whole", style="list-style=type:none">
      <% @all_urls.each do |url| %>
      <li><%= url.full_url %></li>
      <% end %>
    </ul>
    <ul class="short", style="list-style-type:none">
      <% @all_urls.each do |url| %>
      <li><a href="<%= url.full_url %>"><%= url.short_url %></a></li>
      <% end %>
    </ul>
</div>

<form action="/" method="POST">
  URL to shorten:<br>
  <input type="text" name="link">
  <input type="submit" name="Shorten it!">
</form>
